<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <ul>
      <li><a href="/">Top</a></li>
      <li><a href="/mypages">mypages</a></li>
      <li><a href="/mypages/page001">page001</a></li>
      <li><a href="/mypages/page002">page002</a></li>
      <li><a href="/auth/login">login</a></li>
    </ul>

  </body>
</html>
