<!DOCTYPE html>
<html>
<head>
  <title>mypages/page002</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <h1>mypages/page002</h1>
  <div class="main">
    page: mypages/page002
  </div>

  <ul>
    <li><a href="/">Top</a></li>
    <li><a href="/mypages">mypages</a></li>
    <li><a href="/mypages/page001">page001</a></li>
    <li><a href="/mypages/page002">page002</a></li>
    <li><a href="/auth/logout">logout</a></li>
  </ul>
</body>
</html>
