<!DOCTYPE html>
<html>
<head>
  <title>login</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <h1>login</h1>
  <p>login</p>

  <form action="/auth/login" method="post">
    <div class="">
      <label for="email">email: </label><input id="email" type="text" name="email" value="" />
    </div>
    <div class="">
      <label for="password">password: </label><input id="password" type="text" name="password" value="" />
    </div>
    <input type="submit" name="submit" value="submit" />
  </form>

<!--
  <div>
    <a href="/auth/google">Google でログインする</a>
  </div>
  <div>
    <a href="/auth/facebook">Facebook でログインする</a>
  </div>
  <div>
    <a href="/auth/twitter">Twitter でログインする</a>
  </div>
  <div>
    <a href="/auth/line">Line でログインする</a>
  </div>
-->

  <ul>
    <li><a href="/">Top</a></li>
  </ul>

</body>
</html>
