<!DOCTYPE html>
<html>
<head>
  <title>logout</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <h1>logout</h1>
  <p>logout しました。</p>

  <p><a href="/">Top page.</a></a></p>
  <p><a href="/auth/login">login</a></a></p>

</body>
</html>
