<!DOCTYPE html>
<html>
<head>
  <title>login失敗</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <h1>login</h1>
  <p>login できませんでした。</p>

  <p><a href="/">Top</a></a></p>
  <p><a href="/auth/login">login</a></a></p>

</body>
</html>
